body {
    
    background-color: black;
    color: white;
    
  }
  
  #navbar.light-mode {
  background-color: #d8e8d8; /* Change to black */
  color: black; /* Change to white */
  }

  #navbar {
    /* Add your default navbar styles here */
    background-color: black;
    color: white;
  }
 

 #navbar.light-mode {
  background-color: #d8e8d8; /* Change to black */
  color: black; /* Change to white */
}

  img {
    max-width: 100%;
    height: auto;
  }

 

  

 

   
